<div class="flex flex-col items-center p-8">
    <h1 class="text-2xl font-grid font-bold text-gray-800 mb-1">word search</h1>
    <h2 class="text-md font-grid text-indigo-400 mb-4">jurre.dev</h2>

    @if (edit()) {
        <!-- Input Field -->
        <div class="w-full max-w-lg">
            <label for="words" class="block text-sm font-medium text-gray-700">Words</label>
            <textarea
                id="words"
                type="text"
                [(ngModel)]="words"
                placeholder="e.g. apple, banana, cherry"
                class="w-full h-64 font-grid px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 placeholder:text-gray-400 bg-white"
                [ngClass]="{ 'border-red-500': error() && !words }"
            ></textarea>
        </div>

        <div class="w-full max-w-lg flex flex-row justify-between mt-4 space-x-2">
            <div class="w-full">
                <label for="width" class="block text-sm font-medium text-gray-700">Width</label>
                <input
                    id="width"
                    type="number"
                    [(ngModel)]="width"
                    placeholder="(optional)"
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 placeholder:text-gray-400 bg-white"
                />
            </div>

            <div class="w-full">
                <label for="height" class="block text-sm font-medium text-gray-700">Height</label>
                <input
                    id="height"
                    type="number"
                    [(ngModel)]="height"
                    placeholder="(optional)"
                    class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 placeholder:text-gray-400 bg-white"
                />
            </div>
        </div>

        <!-- title input -->
        <div class="w-full max-w-lg mt-4">
            <label for="title" class="block text-sm font-medium text-gray-700">Title</label>
            <input
                id="title"
                type="text"
                [(ngModel)]="title"
                placeholder="(optional)"
                class="w-full px-4 py-2 border border-gray-300 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 placeholder:text-gray-400 bg-white"
            />
        </div>
    }

    <!-- Generate Button -->
    @if (!loading() && edit()) {
        <div class="flex flex-row gap-4">
            <button
                (click)="clear()"
                class="mt-8 px-6 py-2 bg-indigo-200 text-indigo-500 font-semibold rounded-lg shadow-md hover:bg-indigo-300 focus:outline-none focus:ring-2 focus:ring-indigo-200"
            >
                Clear
            </button>
            <button
                (click)="generate()"
                class="mt-8 px-6 py-2 bg-indigo-500 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-400"
            >
                Let's go!
            </button>
        </div>
    }

    <!-- Word Search Grid -->
    @if (loading()) {
        <div class="mt-4 w-full max-w-lg animate-pulse bg-white rounded h-124">
            <div class="mt-8 mx-auto w-48 max-w-lg animate-pulse bg-indigo-100 rounded h-12"></div>
            <div class="mt-4 mx-auto w-72 max-w-lg animate-pulse bg-indigo-100 rounded h-72"></div>
            <div class="mx-8 mt-4 columns-3 gap-4">
                @for (i of [].constructor(9); track $index) {
                    <div class="animate-pulse bg-indigo-100 rounded h-4 mb-2"></div>
                }
            </div>
        </div>
        <button
            (click)="cancel()"
            class="mt-4 px-6 py-2 bg-indigo-500 text-white font-semibold rounded-lg shadow-md hover:bg-indigo-600 focus:outline-none focus:ring-2 focus:ring-indigo-400"
        >
            Cancel
        </button>
    } @else if (error()) {
        <div class="mt-4 w-full max-w-lg">
            <p class="text-red-500">{{ error() }}</p>
        </div>
    } @else if (grid() && !edit()) {
        <app-result [grid]="grid()" [solution]="solution()" [title]="title" [url]="url()" (onEdit)="edit.set(true)"></app-result>
    }
</div>
