/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'grid';
    src: url('/assets/fonts/grid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'title';
    src: url('/assets/fonts/title.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import 'tailwindcss';

@theme {
    --font-title: 'title', sans-serif;
    --font-grid: 'grid', monospace;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.char {
    position: absolute;
    display: inline-block;
    user-select: none;
    z-index: -1;
}
